@model IEnumerable<ControleCaixaWeb.Models.DespejoOPeracaoCaixa>

@{
    ViewBag.Title = "ListaDespejo";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<h2>Lista Despejo</h2>

@(Html.Telerik( ).Grid<DespejoOPeracaoCaixa>( ).Name("Grid").DataBinding(binfing => binfing.Ajax( ).Select("_ListaDespejo", "DespejoOperacaoCaixa")).Columns(
colunas =>
{
	colunas.Bound(c => c.DataLancamento).Title("Data:").Width("16,66%");
	colunas.Bound(c => c.Descricao).Title("Descrição:").Width("16,66%");
	colunas.Bound(c => c.EstabelecimentoOperacao.RazaoSocial).Title("Estabelecimento:").Width("16,66%");
	colunas.Bound(c => c.FormaPagamentoUtilizada.NomeTipoFormaPagamento).Title("Forma Pagamento:").Width("16,66%");
	colunas.Bound(c => c.UsuarioQueLancou.Nome).Title("Usuário:").Width("16,66%");
	colunas.Bound(c => c.Valor).Title("Valor:").Width("16,66%");

})
.Pageable(paginas => paginas.PageSize(10))
.Scrollable( )
.Sortable( )
.Selectable( )
.Groupable( )
.Filterable( )
.Resizable(paginas => paginas.Columns(true))
)
