@model FormaPagamentoEstabelecimento

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Detalhes Forma de Pagamento</legend>

     <div class="display-label">Nome:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeTipoFormaPagamento)
    </div>
       
    <div class="display-label">Taxa:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxaFormaPagamento)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Alterar", "AlterarFormaPagamento", new {  id=Model.Codigo }) |
     @Html.ActionLink("Página Inicial", "Index", "Home")
</p>
