<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--Aqui coloca a segunda parte da configuração para a conexão com o banco de dados-->
  <connectionStrings>
    <clear />
    <!--<add name="conexao" connectionString="Server=localhost;Port=5432;Database=supaquariuscf;User Id=postgres;Password=postgres;Pooling=true;MinPoolSize=1;MaxPoolSize=20;ConnectionLifeTime=15;" providerName="Npgsql" />-->
    <!--<add name="conexao" connectionString="Server=pgsql17.kinghost.net;Port=5432;Database=supaquariuscf;User Id=supaquariuscf;Password=sup54aqu65lk;Pooling=true;MinPoolSize=1;MaxPoolSize=20;ConnectionLifeTime=15;" providerName="Npgsql"/>-->
    <add name="conexao" connectionString="Server=pgsql17.kinghost.net;Port=5432;Database=supaquariuscf2;User Id=supaquariuscf2;Password=KiH34GfpoGFSaLK19T45MkdLFe;Pooling=true;MinPoolSize=1;MaxPoolSize=20;ConnectionLifeTime=15;" providerName="Npgsql"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <!--Aqui Encerramento da segunda parte da configuração para a conexão com o banco de dados-->
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />


      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/ContaUsuario/Entrar" timeout="2880" />
    </authentication>
    <customErrors mode="Off" defaultRedirect="~/Shared/Error">
      <error statusCode="404" redirect="~/Shared/Error" />
    </customErrors>
    <!--Aqui inserir a primeira parte de configuração-->
    <membership defaultProvider="PgMembershipProvider">
      <providers>
        <clear />
        <add name="PgMembershipProvider" type="NauckIT.PostgreSQLProvider.PgMembershipProvider" autogenerateschema="true" connectionStringName="conexao" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="ControleCaixaWeb" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="PgProfileProvider">
      <providers>
        <clear />
        <add name="PgProfileProvider" type="NauckIT.PostgreSQLProvider.PgProfileProvider" connectionStringName="conexao" applicationName="ControleCaixaWeb" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="PgRoleProvider">
      <providers>
        <clear />
        <add name="PgRoleProvider" type="NauckIT.PostgreSQLProvider.PgRoleProvider" connectionStringName="conexao" applicationName="ControleCaixaWeb" />
      </providers>
    </roleManager>
    <sessionState mode="Custom" customProvider="PgSessionStateStoreProvider">
      <providers>
        <clear />
        <add name="PgSessionStateStoreProvider" type="NauckIT.PostgreSQLProvider.PgSessionStateStoreProvider" enableExpiredSessionAutoDeletion="true" expiredSessionAutoDeletionInterval="60000" enableSessionExpireCallback="false" connectionStringName="conexao" applicationName="ControleCaixaWeb" />
      </providers>
    </sessionState>
    <!--Encerramento da primeira parte da configuração com o banco-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />

        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>

    </pages>
    <machineKey validationKey="D21E45C8A81BCEAC67BA71D8C94615F0514CFEC50AE2F569B6EB3D978EC33B6CDA9BA2594FEFB34C380270BE8CC115C423B9A201CDCF9EBD451048800A6F9DD2" validation="SHA1" decryption="Auto" />

    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </httpHandlers>
  </system.web>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true" />

    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="asset" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.net>
    <mailSettings>
      <smtp >
        <network host="smtp.live.com" port="587" userName="supervisorsupaquarius@hotmail.com" password="p9df58kljhWF" enableSsl ="true" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>