@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
</head>
<body>
	<h2>
		Desculpe, Ocorreu um erro durante sua requisição.<br />
		Você pode: Tentar novamente e verificar os campos preenchidos
		<br />
		Ou Entrar em contato com: Ademi Vieira<br />
		Telefone:(83)8832-4192<br />
		Email:adimandrade@hotmail.com
	</h2>
	<p>
		@Html.ActionLink("Página Inicial", "Index", "Home")
	</p>
</body>
</html>
