@{
    ViewBag.Title = "Trocar Senha";
    Layout = "~/Areas/OperadorCaixa/Views/Shared/_Layout.cshtml";
}

<h2>Trocar Senha</h2>
<p>
    Sua senha foi alterada com sucesso.
</p>
<br />
@Html.ActionLink("Página Inicial","Index","Home")

