@{
    ViewBag.Title = "Sucesso";
    Layout = "~/Areas/OperadorCaixa/Views/Shared/_Layout.cshtml";
}

<h2>Sua Operação Foi Concluída Com Sucesso</h2><br />
<br />


@Html.ActionLink("Nova Sangria", "SangriaOperacaoCaixa", "OperacaoCaixa")<br />
@Html.ActionLink("Novo Lancamento", "LancamentoOperacaoCaixa", "OperacaoCaixa")
