@{
    ViewBag.Title = "Sucesso";
    Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
}

<h2>Sua Operação Foi Realizada Com Sucesso!</h2><br />
@Html.ActionLink("Página Inicial","Index","Home")
